.a {
    text-align: center;
    color: white
}
.teu {
    text-align: center;
    color: #000000
}
.resposta {
    text-align: center;
    padding: 15px;
}

.foto {
    text-align: center;
}

.foto1 {
    text-align: center;
}
